@font-face {
    font-family: 'Sarpanch';
    src: url('fonts/Sarpanch-Regular.woff') format('woff');
}

::-webkit-scrollbar{
    display: none;
}

#scroll-trigger{
    position: absolute;
    top: 100vh;
    height: 1px;
    width: 100%;
}

.zoomable{
    transition: 0.3s ease-in-out;
}

.zoomable:hover{
    scale: 1.05;
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-on-scroll.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/*bg css*/

.bg_element{
    position: absolute;
    z-index: 1;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.dirty_surface{
    position: absolute;
    z-index: -3;
    opacity: 0.4;
    width: 100vw;
    max-height: 100vh;
}

/* .grid_lp{
    position: absolute;
    z-index: -2;
    width: 100vw;
    min-height: 100vh;
    opacity: 0.2;
} */

/* .grid_website{
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.7;
} */

.logo_lp{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    scale: 0.95;
    width: 47vw;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* landing page */
#D1{
    bottom: -100px;
    left: -100px;
    width: 27.5vw;
}

#D2{
    transform: rotate(-87.44deg);
    right: 10px;
    top: 10px;
    width: 27.5vw;
}

#C1{
    transform: rotate(28.64deg);
    left: -20px;
    top: -10px;
    width: 27.5vw;
}

#C2{
    transform: rotate(37.16deg);
    right: -10px;
    bottom: -40px;
    width: 27.5vw;
}

#echer1{
    transform: rotate(74.69deg);
    width: 7vw;
    top: -15px;
}

#mouse1{
    transform: rotate(-31.13deg);
    top: 50%;
    width: 7vw;
}

#tv1{
    transform: rotate(30.5deg);
    top: 32%;
    left: 18%;
    width: 7vw;
}

#wifi1{
    transform: rotate(23.61deg);
    top: 42%;
    right: 20%;
    width: 7vw;
}

#usb1{
    transform: rotate(-56.9deg);
    right: 3%;
    top: 140px;
    width: 7vw;
}

#building1{
    transform: rotate(-25.54deg);
    bottom: 0;
    right: 2%;
    width: 7vw;
}

/* landing page */
/* main page */

#usb2{
    transform: rotate(-56.9deg);
    right: 8vw;
    top: 10vh;
    width: 20vw;
}

#bluetooth1{
    transform: rotate(19.86deg);
    top: 10vh;
    left: 10vw;
    width: 10vw;
}

#tv2{
    transform: rotate(-8.91deg);
    left: 45vw;
    top: 15vh;
    width: 7vw;
}

#wifi2{
    transform: rotate(-24.01deg);
    bottom: -12.5vh;
    left: -7vw;
    width: 7vw;
}

#echer2{
    transform: rotate(66.19deg);
    bottom: -10vh;
    right: -7vw;
    width: 7vw;
}

#clicker1{
    transform: rotate(-25.54deg);
    bottom: -20vh;
    width: 5vw;
}

#pencil1{
    transform: rotate(16.17deg);
    width: 7vw;
    right: -24vw;
    bottom: -30vh;
}

#D3{
    transform: rotate(46.74deg);
    top: 35vh;
    left: -250px;
    width: 27.5vw;
}

#C3{
    transform: rotate(22.36deg);
    top: 40vh;
    right: -160px;
    width: 27.5vw;
}

#C4{
    z-index: -1;
    transform: rotate(137.8deg);
    top: -30vh;
    left: -3vw;
    width: 35vw;
}

#C5{
    z-index: -1;
    transform: rotate(-13.7deg);
    bottom: -35vh;
    left: -2vw;
    width: 35vw;
}

#wrench1{
    transform: rotate(17.8deg);
    bottom: -25vh;
    width: 7vw;
}

#floppy1{
    transform: rotate(-120.39deg);
    bottom: -30vh;
    right: 7vw;
    width: 12vw;
}

#mouse2{
    transform: rotate(-31.13deg);
    top: -24vh;
    left: 3vw;
    width: 9vw;
}

#tv3{
    transform: rotate(30.5deg);
    top: -24vh;
    right: 3vw;
    width: 7vw;
}

#wifi3{
    transform: rotate(-23.76deg);
    top: -27vh;
    left: 50vw;
    width: 5vw;
}

#cog1{
    width: 9vw;
    top: -25vh;
    left: 6vw;
}

#signal1{
    width: 7vw;
    top: -19vh;
    right: 6vw;
    transform: rotate(30.4deg);
}

#C6{
    width: 27.5vw;
    right: -7vw;
    bottom:52.5vh;
    transform: rotate(36.56deg);
}

#D4{
    width: 27.5vw;
    left: -7vw;
    bottom:50vh;
    transform: rotate(-87.44deg);
}

#clicker2{
    width: 9vw;
    top: 10vw;
    left: 15vw;
    transform: rotate(20.71deg);
}

#usb3{
    width: 10vw;
    top: 6vw;
    right: 13vw;
    transform: rotate(-57deg);
}

#tv4{
    transform: rotate(-48.5deg);
    top: 5vh;
    width: 6vw;
    left: 10vw;
}

#wifi4{
    transform: rotate(36.67deg);
    top: 0vh;
    width: 6vw;
    right: 9vw;
}

#mouse3{
    transform: rotate(-31.13deg);
    top: 0;
    width: 6vw;
    right: 8vw;
}

#echer3{
    transform: rotate(74.7deg);
    top: -5vh;
    width: 10vw;
    left: 10vw;
}

/* #C7{
    z-index: -1;
    left: -12vw;
    width: 38vw;
    transform: rotate(-45deg);
    top: calc(50px + 2rem + 10vh);
} */

/* #C8{
    z-index: -1;
    width: 40vw;
    transform: translateX(3%) rotate(100.31deg);
    top: calc(50px + 2rem + 8.7vh)    ;
} */

/* #C9{
    z-index: -1;
    right: -12vw;
    width: 38vw;
    transform: scaleX(-1) rotate(-45deg);
    top: calc(50px + 2rem + 10vh);
} */

/* main page */

#p1{
    background: url(photos/carusel1.webp);
    background-position: center;
    background-size: cover;
}

#p2{
    background: url(photos/carusel2.webp);
    background-position: center;
    background-size: cover;
}

#p3{
    background: url(photos/carusel3.webp);
    background-position: center;
    background-size: cover;
}

#p4{
    background: url(photos/carusel4.webp);
    background-position: center;
    background-size: cover;
}

#p5{
    background: url(photos/carusel5.webp);
    background-position: center;
    background-size: cover;
}

#p6{
    background: url(photos/carusel6.webp);
    background-position: center;
    background-size: cover;
}

#p7{
    background: url(photos/carusel7.webp);
    background-position: center;
    background-size: cover;
}

#p8{
    background: url(photos/carusel8.webp);
    background-position: center;
    background-size: cover;
}

#t1{
    background: url(photos/testimonial1.webp);
    background-position: center;
    background-size: cover;
}

#t2{
    background: url(photos/testimonial2.webp);
    background-position: center;
    background-size: cover;
}

#t3{
    background: url(photos/testimonial3.jpg);
    background-position: center;
    background-size: cover;
}

#pr1{
    background: url(photos/proba1.jpg);
    background-position: center;
    background-size: cover;
}

#pr2{
    background: url(photos/proba2.jpg);
    background-position: center;
    background-size: cover;
}

#pr3{
    background: url(photos/proba3.jpg);
    background-position: center;
    background-size: cover;
}
/*bg css*/
/*style css*/

html{
    overflow: visible;
    scroll-behavior: smooth;

    scroll-padding-top: 14vh;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    z-index: 0;
}

body {
    position: relative;
    background-color: black;
    padding: 0;
    margin: 0;
    overflow: visible;
}

/* body::before{
    content: "";
    background: url(backgrounds/Website_Grid.svg);

    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    pointer-events: none;
} */

/* In style.css */
body::before {
    content: "";
    background: url(backgrounds/Website_grid_min.svg);
    background-size: cover;
    
    /* CHANGED: Use fixed to pin it to the screen, not the page */
    position: fixed; 
    
    /* CHANGED: limit height to the screen height */
    height: 120vh;   
    
    /* Keep these */
    top: 0;
    left: 0;
    width: 100%;
    z-index: -5;
    pointer-events: none;
    
    /* OPTIONAL: Hardware acceleration to reduce lag */
    transform: translateZ(0);
    will-change: transform;
}

/* Add this to style.css */

body::after {
    content: "";
    background-image: url('backgrounds/Dirty-Surface-Texture-08-min.jpg');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover; 
    opacity: 0.4;
    z-index: -4;
    pointer-events: none;
}

h2{
    font-family: "Sarpanch", Arial, Helvetica, sans-serif;
    font-size: clamp(0.6rem, 3vw, 4rem);
}

.landing_page{
    position: relative;
    height: 100vh;
    max-width: 100%;
    overflow-x: clip;
    z-index: 99;
}

.arrows{

    display: flex;
    gap: 4vw;
    z-index: -1;

    animation-name: arrow_animation1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#arrows_img{
    width: 10vw;
}

.c2a{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* border-color: white;
    border-style: solid; */
    left: 0;
    right: 0;
    margin: auto;
    width: 40vw;
    top: 70vh;
}

.header{
    border-style: solid;
    position: fixed;
    display: flex;
    z-index: 100;
    top: 0;
    min-width: 100%;
    height: 13vh;

    background: rgba(0, 0, 0, 0.74);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border-bottom: none;
    border-left: none;
    border-right: none;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    opacity: 0;

    transition: 0.7s ease-in-out;

    user-select: none;
}

.header_links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 5%;
    gap: 10%;
    width: 60%;
    font-size: clamp(0.5rem, 1.4vw, 3rem);
    height: 100%;
}

.header_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.3s;
    flex: 1;
    border-radius: 10px;
    padding: 0 5px;
    text-decoration: none;
}

.header_link:hover{
    background-color: rgba(255, 255, 255, 0.47);
}

.header_link:active{
    background-color: rgba(255, 255, 255, 0.292);
}

.header_link a{
    text-decoration: none;
}

#logo_header{
    flex: 1;
    width: 100%;
    transition: 0.2s ease-in-out;
}

#logo_header:hover{
    cursor: pointer;
    opacity: 0.8;
}

#logo_header:active{
    opacity: 0.67;
}

.main_page{
    padding-top: 13vh;
    position: relative;
    overflow: clip;

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.timer_div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    width: 55vw;
    margin-top: 6.7vh;
    border-radius: 60px;
}

#timer{
    font-size: clamp(3rem, 8vw, 15rem);
    color: white;

    /* --- The Metallic Gradient Effect --- */
    
    /* 1. Define the metal gradient colors (Silver + Purple tint) */
    background: linear-gradient(
        to bottom,
        #e0e0e0 0%,   /* Light silver top */
        #ffffff 5%,  /* Shine near top */
        #A91DBC 60%,  /* Your brand purple in the middle */
        #A91DBC 100%  /* Back to purple bottom */
    );

    -webkit-background-clip: text;
    background-clip: text;
    
    color: transparent;
    
    filter: drop-shadow(0px 0px 5px rgba(169, 29, 188, 0.8))
            drop-shadow(0px 0px 10px rgba(169, 29, 188, 0.4));
}

.info_PRV{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    width: 55vw;
    height: 30vh;
    /* border-style: solid;
    border-color: aqua; */
}

.info_PRV img{
    width: 2vw;
    transition: 0.3s ease-in-out;
}

.info_PRV img:hover{
    cursor: pointer;
    scale: 1.1;
}

.info_PRV span a{
    text-decoration: none;
    transition: 0.2 ease-in-out;
}

.info_PRV span a:hover{
    text-decoration: underline;
}

.cand, .unde, .data, .locatie{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-style: solid;
    border-color: white; */
}

.cand, .unde{
    font-size: 2.5vw;
    font-weight: bold;
}

.data, .locatie{
    text-align: center;
    font-size: 2vw;
    /* align-items: flex-start !important; */
}

#c2a_button {
    border: none;
    border-radius: 50px;
    padding: 0.8rem 2.2rem;
    font-family: inherit;
    font-size: clamp(0.8rem, 2.5vw, 4rem); 
    font-weight: bold;             
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #A91DBC;
    box-shadow: 0 0 15px rgb(169, 29, 188);
    
    cursor: pointer;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: translateY(0);
}

#c2a_button:hover {
    background-color: #be2dd1; 
    box-shadow: 0 0 30px rgba(169, 29, 188, 0.7),
                0 0 10px rgba(255, 255, 255, 0.2) inset;
    transform: translateY(-3px) scale(1.02);
}

#c2a_button:active {
    transform: translateY(1px) scale(0.98);
    box-shadow: 0 0 10px rgba(169, 29, 188, 0.5);
    background-color: #9016a1;
}

.despre_PRV{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50vh;
    gap: 8vh;

    /* border: solid white; */
}

.img_text_flex{
    display: flex;
    align-items: center;
    gap: 30px;
}

.img_text_flex p{
    /* text-align: center; */
    background-color: rgba(0, 0, 0, 0.628); 
    flex: 3;
    display: inline;
    padding: 1rem 2rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    border-radius: 25px;
    font-size: clamp(0.6rem, 1.3vw, 2rem);
    margin-right:2.5vw;
    line-height: calc(clamp(0.6rem, 1.3vw, 2rem) * 1.5);
}

.img_container{
    position: relative;
    display: flex;
    background-color: white;
    border-radius: 40px;
    flex: 3;
    height: 50vh;
    margin-left: 2.5vw;

    background: url(photos/despre_prv.webp);
    background-position: center;
    background-size: cover;
    transition: 0.3s ease-in-out;
}

.img_container:hover{
    scale: 1.01;
}

.ce_trebuie_sa_stii{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
    gap: 8vh;
}

.ce_trebuie_sa_stii p{
    text-align: center;
    width: 95vw;
    font-size: clamp(0.6rem, 1.3vw, 2rem);
    line-height: calc(clamp(0.6rem, 1.3vw, 2rem) * 1.5);
    display: inline;
    padding: 1rem 2rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.628); 
}

.img_sliders{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8vh;
    /* border: solid, white; */
    margin-top: 40vh;
    width: 100%;
}

.img_container_editii{
    flex: 0 0 25vw;
    background-color: white;
    height: 30vh;
    border-radius: 20px;
}

/* .img_sliders::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    bottom: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    padding-right: 1em;
    background: url('backgrounds/Plus-Pettern-Colored.png') repeat;
    background-size: 100vw;
    background-position: center;
    opacity: 0.35;

    z-index: -1;
} */

.img_sliders h2{
    text-align: center;
}

.img_right{
    display: flex;
    align-items: center;
    gap: 20px;
    animation: spin_right 15s infinite linear;
    padding-right: 20px;
}

.img_left{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 22vh;
    animation: spin_left 15s infinite linear;
    padding-right: 20px;
}

.slider_right{
    display: flex;
    overflow: hidden;
    width: 100%;
}

.slider_left{
    display: flex;
    overflow: hidden;
    width: 100%;
}

.slider_right::-webkit-scrollbar, .slider_left::-webkit-scrollbar{
    display: none;
}

/* .testimonial{
    border: solid white;
    transition: opacity 0.6s ease-in-out;
    display: none;
} */

/* .testimoniale{
    position: relative;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    width: 85vw;
} */
.testimonial {
    grid-area: stack;
    
    opacity: 0;
    z-index: 0;
    pointer-events: none;
    transition: opacity 0.6s ease-in-out;
    
    width: 100%;
    display: block !important; 

    /* border: solid white; */
}

.testimoniale {
    display: grid;
    grid-template-areas: "stack"; 
    position: relative;
    margin-top: 15vh;
    width: 85vw;
    align-items: center; 
    justify-items: center;

    height: auto; 
}

.testimonial.active-testimonial {
    opacity: 1;
    z-index: 1;
    pointer-events: all;
}

.testimonial.block{
    display: block;
}

.testimonial.visible{
    opacity: 1;
}

/* .testimoniale h2{
    text-align: center;
    font-size: clamp(0.6rem, 3vw, 4rem);
    margin-bottom: 20px;
} */

.testimoniale h2 {
    grid-area: stack;
    align-self: start;
    transform: translateY(-80px);
    text-align: center;
    font-size: clamp(0.6rem, 3vw, 4rem);
    margin-bottom: 20px;
    z-index: 2;
}

.testimoniale_img_nume{
    display: flex;
    margin-left: 7rem;
    align-items: center;
    gap: 1rem;
}

.nume_cine_t{
    display: flex;
    flex-direction: column;
    font-size: clamp(0.5rem, 1.3vw, 2rem);
    gap: 1rem;
}

.pfp_t{
    background-color: white;
    width: clamp(3rem, 10vw, 7rem);
    height: clamp(3rem, 10vw, 7rem);
    border-radius: 1rem;
}

.buttons_paragraph{
    display: flex;
    align-items: center;
}

.buttons_paragraph p{
    font-style: italic;
    margin: 2rem;
    font-size: clamp(0.6rem, 1.3vw, 2rem);
    line-height: calc(clamp(0.6rem, 1.3vw, 2rem) * 1.5);
    display: inline;
    padding: 1rem 2rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.628); 
    border: solid white 2px;
}

.prev{
    margin-right: auto;
}

.next{
    margin-left: auto;
}
#slider_button{
    background: none;
    border: none;
    font-size: clamp(2rem, 6vw, 7rem);
    transition-duration: 0.3s;
    user-select: none;
}

#slider_button:hover{
    opacity: 0.7;
    cursor: pointer;
}

#slider_button:active{
    opacity: 0.5;
}

.cafeluta_poza_div{
    display: flex;
    align-items: center;
    position: relative;
    /* opacity: 0; */
    width: 100%;
    height: 100vh;
    /* border: solid white; */
    margin-top: 10vh;
}

.cafeluta_dialog{
    position: absolute;
    z-index: 5;
    right: -15vw;
    width: 50vw;
    /* opacity: 0; */
    transition: 0.7s ease-in-out;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.carousel_flex{
    display: flex;
    position: absolute;
    height: 15vw;
    background-color: rgba(0, 0, 0, 0.621);
    border-radius: 50px;
    left: 10vw;
    top: 40vh;
    z-index: 90;
    gap: 3vw;
}

.probe_carousel{
    /* width: 30vw; */
    overflow: hidden;

    transition: 0.3s ease-in-out;
}

.carousel_holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vw;
    padding-bottom: 10vw;
    animation: spin_down 6s infinite linear;
}

.carousel_holder a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5vw;
    flex-grow: 0;
    flex-shrink: 0;
    transition: 0.3s ease-in-out
}

.carousel_holder a:hover{
    scale: 1.03;
}

.logo1{
    background: url(logo/tuiasi.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo2{
    background: url(logo/Sigla\ BEST\ alba.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo3{
    background: url(logo/Sigla\ Postari.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.probe{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    margin-top: 10vh;
}

.probe_carduri{
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.probe_carduri h2{
    font-weight: normal;
}

.card_probe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: clamp(200px, 25vw, 25vw);
    height: 80vh;
}

/* .card_probe h3{
    margin-bottom: 0.5rem;
    font-size: clamp(0.6rem, 2vw, 2rem);
    display: inline;
    padding: 1rem 2rem;
} */

.img_container_probe{
    background-color: white;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: clamp(200px, 25vw, 25vw);
    flex-shrink: 0;
    flex-grow: 0;
}

.detalii_probe{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* flex: 1; */
    border-radius: 0px 0px 20px 20px;
}

.detalii_probe button{
    background-color: #A91DBC; ;
    font-size: clamp(0.6rem, 2vw, 2rem);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 0.6rem 1.6rem;
    transition-duration: 0.3s;
    user-select: none;
    margin: 2rem 0;
}

.detalii_probe button:hover{
    background-color: #a91dbcd7;
    cursor: pointer;
}

.detalii_probe button:active{
    background-color: #a91dbc81;
}

.descrieri_container {
    display: grid;
    grid-template-areas: "stack";
    width: 100%;
    margin-top: 60px;
    justify-items: center;
}

/* .descriere{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
} */

.descriere {
    grid-area: stack;
    
    opacity: 0;
    z-index: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0;
}

.descriere.active-descriere {
    opacity: 1;
    z-index: 1;
    pointer-events: all;
}

.detalii_probe button.active-btn {
    background-color: white;
    color: #A91DBC;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.descriere p{
    text-align: center;
    margin: 2rem;
    font-size: clamp(0.6rem, 1.3vw, 2rem);
    line-height: calc(clamp(0.6rem, 1.3vw, 2rem) * 1.5);
    display: inline;
    padding: 1rem 2rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.628); 
}

.sponsori h2, .parteneri h2, .echipa h2{
    font-size: clamp(0.8rem, 5vw, 6rem);
}

.sponsori, .parteneri, .echipa{
    margin-top: 15vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    min-width: 100%;
    padding: 15vh 0px;
}

/* .sponsori::before, .parteneri::before, .echipa::before {
    content: '';
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    padding-right: 1em;
    /* background: url('backgrounds/Plus-Pettern-Colored.png') repeat; */
    /* background-size: 100vw;
    background-position: center;
    opacity: 0.35;

    z-index: -1;
} */ 

.sponsori_row{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.img_container_sponsori{
    height: 17vw;
    width: 20vw;
    background-color: white;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}

.echipa .img_container_sponsori{
    border: solid #A91DBC;
}

.img_container_sponsori:hover{
    scale: 1.02;
}

.parteneri, .echipa{
    margin-top: 0;
}

.echipa{
    margin-bottom: 10vh;
}

.sponsori_row h2{
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    font-size: clamp(0.5rem, 1.4vw, 2rem);
}

.poze_nume_echipa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nume{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.628);
    padding: 1rem 2rem;
    border-radius: 25px;
    margin-top: 5px;
}

#teo{
    background: url(resp/Teo.jpg);
    background-position: center;
    background-size:cover;
}

#cata{
    background: url(resp/Catalina.jpg);
    background-position: center;
    background-size:cover;
}

#florin{
    background: url(resp/Florin.jpg);
    background-position: center;
    background-size:cover;
}

#iulian{
    background: url(resp/Iulian.jpg);
    background-position: center;
    background-size:cover;
}

#mircea{
    background: url(resp/Mircea.jpg);
    background-position: center;
    background-size:cover;
}

#cezara{
    background: url(resp/Cezara.jpg);
    background-position: center;
    background-size:cover;
}

#dennis{
    background: url(resp/Dennis.jpg);
    background-position: center;
    background-size:cover;
}

#ionela{
    background: url(resp/Ionela.jpg);
    background-position: center;
    background-size:cover;
}

#ancuta{
    background: url(resp/Ancuta.jpg);
    background-position: center;
    background-size:cover;
}

#matei{
    background: url(resp/Matei.jpg);
    background-position: center;
    background-size:cover;
}

.final_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.footer{
    margin-top: 10vh;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 70vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.511) 10%, black 20%);
    /* border-top: solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer img:hover{
    cursor: pointer;
    scale: 1.1;
}

.sigla_BEST{
    position: absolute;
    right: 75px;
    top: 30vh;
    width: 20%;
    transition: 0.3s ease-in-out;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.sigla_BEST:hover{
    scale: 1.05;
}

.tuiasi{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    left: 75px;
    top: 27.5vh;
    
}

.tuiasi p{
    font-weight: bold;
    font-size: clamp(0.5rem, 1vw, 2rem);
}

#logo_tuiasi{
    width: 100%;
    transition: 0.3s ease-in-out;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#logo_tuiasi:hover{
    scale: 1.05;
}

.contact{
    margin-top: 10vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;  
    width: 40%;
}

.footer button{
    background-color: #A91DBC; ;
    font-size: clamp(0.6rem, 2vw, 2rem);
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 0.6rem 1.6rem;
    transition-duration: 0.3s;
    user-select: none;
    margin: 2rem 0;
}

.footer span a{
    font-size: clamp(0.6rem, 2vw, 2rem);
    text-decoration: underline;
    color: white;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.footer span a:hover{
    opacity: 0.7;
    cursor: pointer;
}

.footer button:hover{
    scale: 1.02;
    cursor: pointer;
}

.contact p{
    font-size: clamp(0.5rem, 1.3vw, 2rem)
}

.locatie{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tel{
    display: flex;
    align-items: center;
    gap: 5px;
}

.mail{
    display: flex;
    align-items: center;
    gap: 5px;
}

.tel_mail{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin: 0;
}

.sm_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 5px;
}

.sm_icons a{
    width: 6.7%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.sm_icons img{
    width: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#footer_img{
    width: clamp(0.5rem, 1.3vw, 2rem);
    
}

.contact img{
    transition-duration: 0.25s;
}

.sm_icons img:hover{
    scale: 1.15;
    cursor: pointer
}


/* Lightbox Container (Hidden by default) */
.lightbox {
    position: fixed;
    z-index: 9999; /* Sit on top of everything */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Hidden state */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

/* Visible state (toggled by JS) */
.lightbox.active {
    opacity: 1;
    pointer-events: all;
}

/* The Image inside */
.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.lightbox.active img {
    transform: scale(1);
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10000;
}

.is_visible{
    opacity: 1;
}

.hamburger{
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 101;
    padding: 10px;
    margin-right: 5vw;
    gap: 5px;
}

.hamburger .bar{
    display: block;
    width: 10vw;
    height: 3px;
    background-color: white;
    border-radius: 20%;
    transition: 0.3s ease-in-out

}

/* animations */
@keyframes arrow_animation1{
    50%{
        transform: translateY(10%);
    }
    70%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(10%);
        transform: translateY(0);
    }
}

@keyframes arrow_animation2{
    50%{
        transform: translateY(10%);
    }
    70%{
        transform: translateY(5%);
    }
    80%{
        transform: translateY(10%)
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes spin_left{
    from {translate: 0;}
    to {translate: -100%;}
}

@keyframes spin_right{
    from {translate: -100%;}
    to {translate: 0;}
}

@keyframes spin_up{
    from {transform: translateY(0);}
    to {transform: translateY(-100%)}
}

@keyframes spin_down{
    from {transform: translateY(-100%);}
    to {transform: translateY(0)}
}
/* animations */
/*style css*/

/*mobile css*/
@media screen and (max-width: 768px){

    #C1{
        width: 50vw;
        top: 70vh;
        left: 77vw;
        transform: rotate(-37.16deg);
    }

    #C2{
        width: 50vw;
        top: -3vh;
        left: -7vw;
    }

    #D1{
        transform: scaleX(-1) rotate(-92.56deg);
        width: 50vw;
        top: 64vh;
        left: -10vw;
    }

    #D2{
        width: 56vw;
        top: 10vh;
        right: -30px;
    }

    #usb1{
        transform: rotate(-66.92deg);
        width: 13vw;
        top: 3vh;
        right: 10vw;
    }

    #building1{
        width: 13vw;
        top: 32vh;
        right: 30vw;
    }

    #wifi1{
        width: 13vw;
        top: 29vh;
        left: 20vw;
    }

    #tv1{
        width: 13vw;
        top: 63vh;
        left: 63vw;
    }

    #mouse1{
        width: 13vw;
        top: 90vh;
        right: 14vw;
    }

    #echer1{
        width: 13vw;
        top: 90vh;
        left: 15vw;
    }

    .c2a{
        top: 75vh;
    }

    #arrows_img{
        width: 30vw;
    }

    /* main page */

    #C4{
        transform: rotate(-84.09deg);
        width: 60vw;
        top: auto;
        bottom: -1vh;
        left: -15vw;
    }

    #C5{
        transform: rotate(-133.4deg);
        width: 60vw;
        top: auto;
        bottom: -1vh;
        left: 50vw;
    }

    #wrench1{
        width: 5vh;
        top: -4vh;
        left: 3vw;
    }

    #floppy1{
        width: 5vh;
        right: 1vw;
        top: -6vh;
    }

    #mouse2{
        width: 13vw;
        top: -6vh;
    }

    #wifi3{
        width: 10vw;
        top: -6.7vh;
    }

    #tv3{
        width: 13vw;
        top: -6.5vh;
    }

    #cog1{
        width: 13vw;
        top: -16vh;
    }

    #signal1{
        width: 13vw;
        top: -17vh;
    }

    #mouse3{
        width: 8vh;
        top: -8.5vh;
    }

    #echer3{
        width: 8vh;
        top: -8vh;
    }

    #tv4{
        width: 6.7vh;
        top: -8vh;
    }

    #wifi4{
        width: 6.7vh;
        top: -8vh;
    }

    #clicker2{
        width: 6.7vh;
        top: -8vh;
    }

    #usb3{
        width: 6.7vh;
        top: -8vh;
    }

    *{
        -webkit-tap-highlight-color: transparent;
    }
    
    body::before{
        background-size: 200%;
        background-position: center top;
    }

    .invis_mobile{
        display: none;
    }
    
    #scroll-trigger{
        top: 75vh;
    }

    h2{
        font-size: 2rem;
    }

    .main_page{
        padding-top: 0;
    }

    .header{
        height: 10vh;
    }

    .hamburger{
        display: flex;
        margin-left: auto;
        user-select: none;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #logo_header{
        flex: 1;
        width: 30vw;
    }

    .header_links{
        opacity: 0;
        right: 0;
        flex-direction: column;
        position: fixed;
        top: -500%;
        height: 60vh;
        width: 100%;
        background-color: black;
        margin: 0;
        border-radius: 0 0 10px 10px;
        font-size: 2rem;
        transition: 0.5s ease-in-out;
        padding-top: calc(10vh + 1rem);
        padding-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
        border: solid white;
        z-index: -1;
        border-top: none;
    }

    .header_links.active{
        top: 0vh;
        opacity: 1;
    }

    .timer_div{
        margin-top: 0;
        width: 95vw;
        gap: 2vh;
    }

    #timer{
        font-size: 15vw;
    }

    .cand, .unde{
        font-size: 8vw;
    }

    .data, .locatie{
        font-size: 5vw;
    }

    .info_PRV{
        width: 100vw;
        height: 20vh;
        /* border: solid white; */
    }

    .info_PRV img{
        width: 5vw;
    }

    .timer_div #c2a_button{
        width: 80vw;
    }

    #c2a_button{
        font-size: 7vw;
    }

    .despre_PRV{
        margin-top: 7vh;
        gap: 3vh;
    }

    .img_text_flex{
        flex-direction: column-reverse;
        gap: 2vh;
        justify-content: center;
    }

    .img_text_flex p{
        font-size: 1rem;
        line-height: calc(1rem * 1.5);
        text-align: center;
        padding: 1.5rem 0.5rem;
        width: 90vw;
    }

    .img_container{
        width: 90vw;
        height: 30vh;
        margin-left: 0;
        flex: none;
        border-radius: 20px;
    }

    .ce_trebuie_sa_stii{
        margin-top: 10vh;
        gap: 2vh;
    }

    .ce_trebuie_sa_stii p{
        font-size: 1rem;
        line-height: calc(1rem * 1.5);
        text-align: center;
        padding: 1.5rem 0.5rem;
        width: 90vw;
    }

    .img_sliders{
        margin-top: 10vh;
        gap: 2vh;
    }

    .img_container_editii{
        height: 17vh;
        flex: 0 0 60vw;
    }

    .img_left{
        margin-bottom: 0;
    }

    .testimoniale{
        margin-top: 20vh;
        width: 92vw;
    }

    .testimoniale h2{
        font-size: 2rem;
    }

    .testimoniale_img_nume{
        margin-left: 2rem;
    }

    .pfp_t{
        width: 10vh;
        height: 10vh;
        flex-shrink: 0;
    }

    .nume_cine_t{
        font-size: 0.8rem;
    }

    .buttons_paragraph p{
        font-size: 0.9rem;
        line-height: calc(0.9rem * 1.5);
        margin: 2rem 0.5rem;
        border: solid white;
        border-width: 1px;;
    }

    #slider_button{
        font-size: 2rem;
    }

    .cafeluta_poza_div{
        height: 60vh;
        margin-top: 0;
    }

    .cafeluta_dialog{
        width: 100%;
        right: -30vw;
    }

    .carousel_flex{
        top: 45vh;
        width: 60vw;
        height: 20vw;
        left: 15vw;
        border-radius: 10px;;
        gap: 7vw;
    }

    .carousel_holder{
        gap: 7vh;
        padding-bottom: 7vh;
    }

    .carousel_holder a{
        width: 15vw;
        height: 10vw;
    }

    #C7{
        width: 120vw;
        top: 5vh;
    }

    #C8{
        width: 100vw;
        top: 45vh;
        transform: rotate(0)
    }

    #C9{
        width: 110vw;
        top: 75vh;
        transform: scaleX(-1);
    }

    .probe_carduri{
        flex-direction: column;
        align-items: center;
        width: 80vw;
        border-radius: 30px;
        gap: 5vh;
        padding: 5vh 0;
        margin-top: 2vh;

        background-color: rgba(0, 0, 0, 0.105);
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.9px);
        -webkit-backdrop-filter: blur(3.9px);

        transform: translateZ(0);
        will-change: opacity, transform;
    }

    .card_probe{
        height: auto;
        width: 82.5%;
        background-color: black;
        padding: 4vh 10vw;
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.212);
    }

    .detalii_probe{
        padding-top:4vh;
    }

    .detalii_probe button{
        font-size: clamp(1rem, 7vw, 2rem);
    }

    .descrieri_container{
        margin-top: 2vh;
    }

    .descriere p{
        margin: 1rem;
        font-size: 1rem;
        line-height: calc(1rem * 1.5);
        text-align: center;
    }

    .sponsori h2, .parteneri h2, .echipa h2{
        font-size: clamp(1.2rem, 10vw, 2.3rem);
    }

    .sponsori, .parteneri, .echipa{
        margin-top: 10vh;
        padding: 0;
    }

    .sponsori .sponsori_row{
        flex-wrap: wrap-reverse;
        row-gap: 40px;
    }

    .parteneri .sponsori_row{
        flex-wrap: wrap;
        row-gap: 40px;
    }

    .echipa .sponsori_row{
        flex-wrap: wrap;
        row-gap: 40px;
    }

    .echipa .img_container_sponsori{
        width: 80vw;
        height: 75vw;
    }

    .echipa .nume{
        width: 80vw;
    }

    .img_container_sponsori{
        height: 20vh;
        width: 22vh;
    }

    .sponsori_row h2{
        font-size: 1.1rem;
        text-align: center;
    }

    .footer{
        height: 75vh;
        margin-top: 3vh;
        justify-content: flex-start;
    }

    .tuiasi{
        width: 40%;
        top: auto;
        bottom: 5vh;
        left: 20px;
    }

    .sigla_BEST{
        width: 40%;
        top: auto;
        bottom: calc(5vh + 2rem);
        right: 20px;
    }

    .contact{
        margin-top: 15vh;
        width: 100%;
        gap: 20px;
    }

    .contact p{
        font-size: clamp(0.5rem, 3.2vw, 1rem);
    }

    #footer_img{
        width: clamp(0.5rem, 3.2vw, 1rem);
    }

    .logo_lp{
        width: 100vw;
        scale: 1;
    }
}